[Unit]
Description=Miner
Requires=openvpn@client.service
After=openvpn@client.service

[Service]
Type=simple
ExecStart=/home/miner/PhoenixMiner_4.2c_Linux/PhoenixMiner -pool stratum+tcp://pool.minerall.io:3401 -pool2 stratum+tcp://pool.minerall.io:3401 -wal tt0619 -worker rig1 -proto 4
GuessMainPID=no
User=miner
